//height: 700px; background-image: url(images/cover_img_1.jpg);  background-size:cover; background-position: center center;background-attachment:fixed

.video-hero {
  height: 700px;
  background-image: url("../../assets/images/cover_img_1.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}